.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
}

.form label {
    font-size: 0.875rem;
    font-weight: 700;
    color: hsl(216, 15%, 57%);
}

.form input {
    padding: 0.25rem;
    border: 1px solid hsl(216, 15%, 57%);
    border-radius: 3px;
}

.form__button {
    cursor: pointer;
    margin-top: 1.5rem;
    background-color: hsl(242, 48%, 58%);
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 9999px;
    font-size: 0.75rem;
}

.form__button:hover,
.form__button:focus {
    background-color: hsl(242, 48%, 62%);
}